<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
    
    <title>About Us</title>
</head>
<body>
    <div class="main-content">

        {{>header}}
    <p>This app was created by {{name}}. It uses data from mapbox.com and the Dark Sky API</p>
    <img src="/img/cloud-4273197_1280.png" alt="" class="portrait">

    </div>
    
    {{>footer}}
</body>
</html>